.page-header {
    border-bottom: 2px solid #ccc;
}

.page-back {
    float: left;
    text-decoration: none;
    color: #ccc;
    margin-top: 10px;
    margin-right: 10px;

}

.page-content {
    margin-left: 100px;
}


.product-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.product-item {
    border-bottom: 1px dotted #ccc;
}

.product-item_title {
    font-size: 1em;
    margin-bottom: 0px;
}

.product-item_sku {
    font-size: 0.5em;
    color: #ccc;
}

.product-item_price {
    font-size: 0.8em;
    margin-right: 5px;
}

.product-item_image {
    width: 50px;
    float: left;
    margin-right: 20px;
}

.old-price {
    text-decoration: line-through;
    color: #ccc;
}

.product-view_image {
    width: 150px;
    float: left;
    margin-right: 20px;
}

.product-view_sku {
    font-size: 0.8em;
    color: #ccc;
}

.product-view_price {
    font-size: 0.8em;
    margin-right: 5px;
}

.login {
    float: right;
    font-size: 0.7em;
}
